.home {
    display: flex;
    flex-direction: column;
    

    .container {
        display: flex;
        align-items: center;
        height: 596px;
        background: #01401b;
        padding: 20px 32px;
        padding-bottom: 0;


        .left-section {
            display: flex;
            flex-direction: column;
            color: white;
            gap: 30px;

            .title {
                font-size: 50px;
                font-weight: bold;
            }

            .search-field {
                background: white;
                display: flex;
                justify-content: space-between;
                border-radius: 5px;
                align-items: center;

                .input{

                    input {
                        border: none;
                        outline: none;
                        padding: 0 10px;
                        font-size: 16px;
                    }
                }
                button {
                    border: none;
                    background: transparent;
                    padding: 14px;
                    background: #1dbf73;
                    color: white;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
            }

            .popular-services {
                display: flex;
                gap: 24px;
                align-items: center;

                span:not(:first-child) {
                    padding: 4px 10px;
                    font-size: 14px;
                    border: 1px solid white;
                    border-radius: 10px;
                }
            }
        }

        &.featured {
            margin-bottom: 40px;
        }
    }

    .services {
        padding: 20px 32px;
        margin-bottom: 90px;
    }
}